body {
    background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
    height: 100vh;
    width: 100%;
}

.contact{
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    margin-top:5%;
    border :solid transparent 2px;
    border-radius: 10px;
}

article{
    margin-top: 2%;
}

textarea {
    resize: none;
}

.form-control:focus {
    border-color:whitesmoke;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(241, 241, 241, 0.6);
  }

#nom, #prenom, #telephone, #email, #message{
    color:black;
}

.button{
    text-align: center;
}

.error {
    border : solid 1px red;
}

.bon{
    display: none;
}